<nav class="mdc-bottom-nav" role="navigation" aria-label="Hoofdnavigatie">
    <a href="/overzicht.html" class="mdc-bottom-nav__action" id="btn-index">
        <span class="material-icons" aria-hidden="true">home</span>
        <span class="mdc-bottom-nav__label">Home</span>
    </a>
    <a href="/favorites.html" class="mdc-bottom-nav__action" id="btn-favorites">
        <span class="material-icons" aria-hidden="true">favorite</span>
        <span class="mdc-bottom-nav__label">Favorieten</span>
    </a>
</nav>

<link rel="stylesheet" href="css/navigation.css">